.form-btn {
  outline: none;
  width: 110%;
}
.edit-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.short-btn {
  margin: 0 auto;
  width: 40%;
}
.small-inputs {
  display: flex;
  justify-content: space-between;
}
